* {
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: border-box;
}
.App {
  text-align: center;
  background: cyan;
}
.MuiListItem-root {
  background: lightgrey;
  margin: .5rem auto;
  border-radius: 5px;
  cursor: pointer;
  max-width: 500px;
}

.MuiListItem-root.complete { 
  text-decoration: line-through;
}